body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

.header {
  margin: 10px;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_logo {
  width: 162px;
  height: 34px;
}

.section-localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
  height: 50px;
}
.section-localisation .section-localisation__text {
  color: #353535;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.section-localisation .section-localisation__icon {
  margin-right: 10px;
}

.section-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F6F6F6;
  padding-bottom: 50px;
}
.section-presentation .section-presentation__title {
  width: 80%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 0;
}
.section-presentation .section-presentation__text {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 20px;
}
.section-presentation .section-presentation__link {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #FFF;
  border-radius: 10%/50%;
  padding: 15px;
}
.section-presentation .section-presentation__link--gradient {
  background: linear-gradient(#FF79DA, #9356DC);
}

.section-progress {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.section-progress .section-progress__title {
  font-family: "Roboto", sans-serif;
}
.section-progress .section-progress__steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-progress .section-progress__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 90%;
  height: 72px;
  background-color: #F6F6F6;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
.section-progress .section-progress__step .fa-stack {
  font-size: 10px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -10px;
}
.section-progress .section-progress__step .fa-circle {
  color: #9356DC;
}
.section-progress .section-progress__step .section-progress__number--white {
  color: #FFF;
}
.section-progress .section-progress__step .section-progress__icon {
  margin: auto;
}
.section-progress .section-progress__step .section-progress__text {
  margin-right: auto;
  font-family: "Roboto", sans-serif;
}
.section-progress .section-progress__step .section-progress__icon--grey {
  color: #7E7E7E;
}
.section-progress .section-progress__step .section-progress__icon--purple {
  color: #9356DC;
}

.section-restaurants {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #F6F6F6;
  padding: 20px;
}
.section-restaurants .section-restaurants__article-restaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.section-restaurants .section-restaurants__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #FFF;
  border-radius: 20px;
  text-decoration: none;
}
.section-restaurants .section-restaurants__visual {
  width: 100%;
  position: relative;
}
.section-restaurants .section-restaurants__picture {
  height: 175px;
  object-fit: fill;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}
.section-restaurants .section-restaurants__new {
  color: #008766;
  padding: 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  position: absolute;
  margin: 0;
  top: 15px;
  right: 15px;
}
.section-restaurants .section-restaurants__new--visibility {
  visibility: hidden;
}
.section-restaurants .section-restaurants__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 76px;
}
.section-restaurants .section-restaurants__names {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  padding-left: 15px;
}
.section-restaurants .section-restaurants__nickname {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}
.section-restaurants .section-restaurants__name {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #000;
}
.section-restaurants .section-restaurants__like {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
